.presentation {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0a192f;
  }
  .presentation_image {
    border-radius: 50%;
  }
  .content_title {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content_title_h1 {
    margin: 2rem 0 ;
    font-size: 11.5vw;
    display: flex;
    justify-content: center;
    color: cyan;
  }

  .description {
    text-align: left;
    font-size: 19px;
    padding-top: 1rem;
  }

  @media (min-width: 425px) {
    .presentation {
      width: 80vw;
    }
  }

  @media (min-width: 768px) {
    .presentation {
      width: 85vw;
      flex-direction: row;
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
    }
    .content_title {
      margin-top: 0;
      width: calc(55%);
      display: flex;
      justify-content: center;
    }
    .content_title_h1 {
      padding: 40px;
      font-size: calc(4rem + 1vw);
    }
    .presentation_contentImage{
      margin-top: 1rem;
    }
  }

  @media (min-width: 1024px) {
    .presentation {
      width: 80vw;
      height: 75vh;
      margin-top: 1rem;
      display: flex;
      align-items: center;
    }
  }