.contact {
    border: 1px red solid;
    width: 80vw;
    margin-top: 4rem;
    padding-bottom: 10rem;
}

.title_contact {
    padding: 1rem 0 2rem 0;
    display: flex;
    justify-content: flex-start;
}

.title {
    color:darkturquoise;
}
.contact_logos {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}