.subtitle_projects {
    margin: 1rem auto;
    color: cyan;
    display: flex;
    justify-content: center;
}
.projects {
    width: 90vw;
    margin-top: 1rem;
    border: 1px #258ff3 solid;
    padding: 0;
    min-height: auto;
    display: flex;
    flex-direction: column;
}

.image_project{
    margin: 0;
}
.projects_link{
    text-decoration: none !important;
}
.projects_ul {
    width: 70vw;
}
.text_card {
    padding: 1rem;
    width: 89vw;
}
.resume_project {
    margin-top: 0.5rem;
    text-align: left;
}
.projects_languages {
    margin: 0 auto;
    width: 160px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}
.projects_languages__x {
    margin-top: 1rem;
    /* border: 1px red solid; */
    /* pointer-events: none; */
}

.react_logo2 {
    border: 1px cyan solid;
}
.button_info {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}
@media (prefers-reduced-motion: no-preference) {
    .react_logo {
      animation: react_logo-spin infinite 20s linear;
    }
}

@keyframes react_logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

@media (min-width: 425px) {
    .image_projects {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .text_card {
        /* border: 3px yellow solid; */
        padding: 1rem;
        width: 89vw;
    }
}
@media (min-width: 768px) {
    .container_projects {
        width: 85vw;
        /* border: 1px red solid; */
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
    }
    .projects {
        width: 40vw;
        margin: auto;

    }
    .text_card {
        /* border: 3px yellow solid; */
        padding: 1rem;
        width: 39vw;
    }
}