.about {
    width: 90vw;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    /* width: 90vw; */
    display: flex;
    justify-content: flex-start;
    color:darkturquoise;
}

.title_about {
    margin-top: 2rem;
    border: 1px cyan solid;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}


@media (min-width: 768px) {
    .about {
        width: 85vw;
    }
}

@media (min-width: 1024px) {
    .about {
        width: 80vw;
    }
}